
 <!-- Footer -->
<footer>    
    <div class="footer-body">
        <div class="cust-footer-bar">            
            <a href="#" target="_blank"> Copyright </a>  
            <span class="cust-footer-span"></span>         
            <a href="#" target="_blank"> Disclaimer </a>
            <span class="cust-footer-span"></span>     
            <a href="#" target="_blank"> Privacy </a>
            <span class="cust-footer-span"></span>     
            <a href="https://www.rti.qld.gov.au/" target="_blank"> Right to information </a>
            <span class="cust-footer-span"></span>     
            <a href="#" target="_blank"> Accessibility </a>
            <span class="cust-footer-span"></span>     
            <a href="https://smartjobs.qld.gov.au/" target="_blank"> Jobs in Queensland Government </a>
            <span class="cust-footer-span"></span>     
            <a href="https://www.qld.gov.au/help/languages" target="_blank"> Other languages </a>
            <span class="cust-footer-span"></span>     
            <a href="#" target="_blank"> Site map </a>  
        </div>
        <div class="cust-footer-msg">
            <p>{{copyrightText}}</p>
            <p>{{governmentText}}</p>
        </div>    
    </div>    
</footer>
