
<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="http://r-devportal3.developer.azure-api.net/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Go to APIM Portal</span>      
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://r-devportal3.developer.azure-api.net/apis">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Explore APIs</span>      
    </a> 
    <a class="card" target="_blank" rel="noopener" href="https://r-devportal3.developer.azure-api.net/products">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Explore Products</span>      
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://r-devportal3.developer.azure-api.net/reports">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>View Reports</span>      
    </a>      
  </div>
